* {
  /* prevents an automatic margin causing white space */
  margin: 0px;
}

main {
  display: grid;

  /* sets height of main to 100% of the viewport */
  height: 100vh;

  /* creates 5 equal sized rows */
  grid-template-rows: repeat(5, 1fr);

  /* creates 5 equal sized columns */
  grid-template-columns: repeat(5, 1fr);
}

#header {
  background-color: lightcoral;
  grid-area: 1 / 1 / 2 / 6;
  /* assign the appropriate grid area */
}

#topArticle {
  background-color: lightskyblue;
  /* assign the appropriate grid area */
  grid-area: 2 / 3 / 3 / 6;
}

#sideImage {
  background-color: lightgreen;
  /* assign the appropriate grid area */
  grid-area: 2 / 1 / 4 / 3;
}

#sideArticle {
  background-color: lightseagreen;
  /* assign the appropriate grid area */
  grid-area: 3 / 3 / 3 / 6;
}

#mainArticle {
  background-color: lightslategrey;
  /* assign the appropriate grid area */
  grid-area: 4 / 1 / 5 / 6;
}

#footer {
  background-color: mediumpurple;
 /* assign the appropriate grid area */
 grid-area: 5 / 1 / 6/ 6;
}
